<div class="row">
    <div class="col-lg-12 m-t-md">
        <div class="hpanel">
            <div class="panel-body">
                <div class="row row-margin-top" >
                    <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
                        <div class="btn-group">
                            <label class="btn btn-default active" ng-model="radioFilterModel" btn-radio="'All'">All</label>
                            <label class="btn btn-default" ng-model="radioFilterModel" btn-radio="'Name'">Name</label>
                            <label class="btn btn-default" ng-model="radioFilterModel"
                                   btn-radio="'Location'">Location</label>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4 col-md-4  col-lg-3 header-select" >
                        <div class="form-group">
                            <label class="pull-left">Sort by &nbsp;</label>
                            <select class="form-control pull-left">
                                <option>Rating</option>
                                <option>Location</option>
                                <option>Publisher</option>
                                <option>Popularity</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-4 col-lg-6">
                        <div class="pull-right">
                            <div class="btn-group">
                                <label class="btn btn-default active" ng-model="radioLayoutModel" btn-radio="'Card'">
                                    <i class="fa fa-th-large"></i>
                                </label>
                                <label class="btn btn-default" ng-model="radioLayoutModel" btn-radio="'Grid'">
                                    <i class="fa fa-th-list"></i>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row m-t" >
    <organisation-card ng-repeat="organisation in organisations | orderBy: organisation.name" model="organisation" ng-show="radioLayoutModel == 'Card'"></organisation-card>
    <organisation-grid ng-repeat="organisation in organisations | orderBy: organisation.name" model="organisation" ng-show="radioLayoutModel == 'Grid'"></organisation-grid>
</div>

<div class="row m-t" >

</div>
