<div class="row">  
    <div class="col-lg-4 animated-panel zoomIn" style="animation-delay: 0.2s;">
         <div class="hpanel">
            <div class="panel-heading hbuilt">
               <div panel-tools></div>
               BRONZE PLAN
            </div>
            <div class="panel-body">
               <div class="row">
					<h3 class="plans-title font-bold">BRONZE PLAN</h3>
               </div>
			   <div class="row">
					<p class="plans-price"> 0.00 &#8364; / month </p>
			   </div>	
			   <div class="row">
			   		<h3 class="plans-subtitle">Features</h3>
					 <ul class="list-group col-lg-8 col-lg-push-2">
  						<li class="list-group-item text-center">Community support</li>
  						<li class="list-group-item text-center">Monitoring</li>
					</ul>
			   </div>	
	 		   <div class="row">
			   		<h3 class="plans-subtitle">Quotas</h3>
					<p class="plans-quotas"> 5000 requests/ month </p>
			   </div>	
            </div>
         </div>
      </div>
      <div class="col-lg-4 animated-panel zoomIn" style="animation-delay: 0.2s;">
         <div class="hpanel">
			<div class="panel-heading hbuilt">
               <div panel-tools></div>
               SILVER PLAN
            </div>
            <div class="panel-body">
               <div class="row">
					<h3 class="plans-title font-bold">SILVER PLAN</h3>
               </div>
			   <div class="row">
					<p class="plans-price"> 10.00 &#8364; / month </p>
			   </div>	
			   <div class="row">
			   		<h3 class="plans-subtitle">Features</h3>
					 <ul class="list-group col-lg-8 col-lg-push-2">
  						<li class="list-group-item text-center">Professional support</li>
  						<li class="list-group-item text-center">Custom monitoring</li>
					</ul>
			   </div>	
	 		   <div class="row">
			   		<h3 class="plans-subtitle">Quotas</h3>
					<p class="plans-quotas"> 10000 requests/ month </p>
			   </div>	
            </div>
         </div>
      </div>
	  <div class="col-lg-4 animated-panel zoomIn" style="animation-delay: 0.2s;">
         <div class="hpanel">
            <div class="panel-heading hbuilt">
               <div panel-tools></div>
               NEW
            </div>
            <div class="panel-body">
               <div class="row">
					<h3 class="plans-title">NEW PLAN</h3>
               </div>
			   <div class="row">
			      <div class="text-center">
					<button class="btn btn-default prev" type="button" ng-click="createNewPlan()">
					<i class="pe-7s-plus fa-5x text-muted"></i>
					</button>
					<p class="m-t-md">
           				 Add new
        	 		</p>         			
      				</div>
			   </div>	
            </div>
         </div>
      </div>
   </div>
   <div class="text-right m-t-xs">
      <button class="btn btn-default prev" type="button" ng-click="move(false)">Step 2 - Implementation</button>
      <button class="btn btn-primary next" type="button" ng-click="move(true)">Step 3 - Service contracts</button> 
   </div>