<div class="row">
    <div class="col-lg-12">
        <div class="hpanel hgreen">
            <div class="panel-heading">
                <div panel-tools></div>
                Search options
            </div>
            
            <div class="panel-body panel-filter">
                <div class="row row-margin-top row-margin-bottom" >           
                   	<div class="col-md-10">
                   		<div class="form-group col-lg-3">
	                   		<input type='text' placeholder="Username" class="form-control col-md-2" ng-model="filter.username">   
	                   	</div>
	                   	<div class="form-group col-lg-3">
	                    	<input type='text' placeholder="First Name" class="form-control col-md-2" ng-model="filter.firstName">
	                    </div>
	                    <div class="form-group col-lg-3">
	                    	<input type='text' placeholder="Last Name" class="form-control col-md-2" ng-model="filter.lastName">
	                    </div>
	                    <div class="form-group col-lg-3">
	                    	<input type='text' placeholder="Email" class="form-control col-md-2" ng-model="filter.email">	
	                    </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group col-lg-12">
                            <label class="btn btn-default active col-md-6" ng-model="radioLayoutModel" btn-radio="'Grid'">
                                <i class="fa fa-th-large"></i>
                            </label>
                            <label class="btn btn-default col-md-6" ng-model="radioLayoutModel" btn-radio="'Table'">
                                <i class="fa fa-th-list"></i>
                            </label>
              			</div>
                    </div>
               	</div>
            </div>
        </div>
    </div>
</div>

<div class="row m-t-xs" >
	<!-- Grid view -->
    <div ng-if="radioLayoutModel == 'Grid'" class="col-lg-12">
    	<table class="grid">
    		<div class="row">
			  <profile class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="user in users" user="user"></profile>
			  
			</div>   
		</table>
    </div>

    <!-- Table view -->
    <div class="col-lg-12" ng-if="radioLayoutModel == 'Table'">
		<div class="hpanel hgreen">
			<div class="panel-heading">
                <div panel-tools></div>
                Users
            </div>
            		
            <div class="panel-body">
				<table ng-table="tableParams" class="table ">
		        	<tr ng-repeat="user in users" ng-click="details(user.username)">
		            	<td data-title="'Username'" sortable="'username'" class="col-lg-3">
		               		{{user.username}}
		            	</td>
		            	<td data-title="'First Name'" sortable="'firstName'" class="col-lg-3">
		                	{{user.firstName}}
		            	</td>
		            	<td data-title="'Last Name'" sortable="'lastName'" class="col-lg-3">
		               		{{user.lastName}}
		            	</td>
		            	<td data-title="'Email'" sortable="'email'" class="col-lg-3">
		               		{{user.email}}
		            	</td>
		            	<td data-title="'Details'" class="col-md-2">
		               		
		            	</td>
		        	</tr>
		        </table>	
	        </div>
	    </div>
    </div>
</div>

