<div class="col-lg-12">
	<!-- Main view -- BEGIN -->
	<div class="hpanel contact-panel">	
		<div class="panel-body panel-grid">
			<table class="grid">
				<tbody>
					<tr>
						<td class="api-sm api-background api-padding border-right">
<!--							<img alt="logo" class="img-circle m-b center" data-ng-src="{{ 'data:image/png;base64,'+producer.logo }}">-->
								<img alt="logo" class="img-logo center" src="http://en.bicikelj.si/var/pam/storage/images/medias/images/ljubljana/logo/125663-2-eng-GB/Logo.jpg">
						</td>
						<td class="api-md ">
							<div class="api-padding">
								<h3 class="padding-bottom-10">{{ organisation.name }}</h3>
								<p>{{ organisation.address | shortenText: 150 }}</p>
							</div>
						</td>
					</tr>
				</tbody>
			</table>

			
		</div>

	</div>
	<!-- Main view -- END -->
</div>