.grid  {
	width: 100%;
	
	td {
		//padding: 10px 20px;
		min-height:90px;
	}
	
	.api-md {
		display: table-row;
	}
	
	.api-padding {
		padding: 10px 20px;
	}
	
	.api-sm {
		width:12%;
	}
	
	.api-background {
		background-color: @color-bright;
	}
	
	.api-md {
		width: 20%;
		height: 100%;
	}
	
	h3 { 
		padding-bottom: 5px;
	}
	
	.contact-stat-icon {
		font-size: 15px;
	}
	
	.img-logo {
		width: 120px;
	}
	
	.api-categories:hover .api-category {
		height:20px;
		max-height: 20px;
		
	}
}	

.panel-grid  {
	padding: 0 !important;	
}