<div>
    <div class="row">
        <div class="col-lg-3 text-center">
            <i class="fa fa-file-image-o fa-5x text-muted" />
            <p class="small m-t-md">
                <strong>Logo</strong>
            </p>
            <button class="btn btn-default" type="button" ng-click="showModal()">
                <!--i class="fa fa-upload" /-->
                <span class="bold">
                    Choose ...
                </span>
            </button>
        </div>
        <div class="col-lg-9">
            <div class="row">
                <div class="form-group col-lg-6" ng-class="{ 'has-error' : (createApplicationForm.consumerName.$invalid && (!createApplicationForm.consumerName.$pristine || createApplicationForm.$submitted)) }">
                    <label>Name</label>
                    <input type="text" name="consumerName" required class="form-control" ng-model="consumer.name">
                </div>
                <div class="form-group col-lg-6">
                    <label>
                        Organisation
                        <a tooltip-placement="top" tooltip="If you are creating an application that belongs to an organisation, please select the organisation from the list below.">
                            <i class="fa fa-question" />
                        </a>
                    </label>
                    <select class="form-control" ng-options="organisation.name for organisation in organisations track by organisation.id" ng-model="consumer.organisation">
                        <option value="" selected />
                    </select>
                </div>
                <div class="form-group col-lg-12">
                    <label>Description</label>
                    <textarea name="consumerDescription" class="form-control" style="resize: none" ng-model="consumer.description" />
                </div>
            </div>
        </div>
    </div>
</div>