<div>
    <div class="modal-header text-center">
        <h4 class="modal-title">Upload</h4>
        <small class="font-bold">Be creative!</small>
    </div>
    <div class="modal-body">
        <ul>
            <li>
                Dimension must be more than: 500 x 250 (recommended)
            </li>
            <li>
                Allowed file types: png, jpg, and gif
            </li>
            <li>
                Max file size: 5 MB
            </li>
        </ul>

        <div class="form-group">
            <input type="file" name="logo" class="form-control" accept="image/jpeg,image/png,image/gif" required="">
            <p class="help-block" />
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="ok()">Submit</button>
    </div>
</div>