<div class="hpanel">
    <div class="panel-heading"><h3>{{headerMessage}}</h3></div>
    <div class="panel-body">
        <form form name="organisationForm" class="form-horizontal" novalidate
              ng-submit="submitOrganisation({'organisation': organisation})">
            <div class="form-group">
                <label class="control-label">{{$strings.states.organisation.name}}</label>
                <input type="text" class="form-control" id="organisationName" placeholder="{{$strings.states.organisation.name}}"
                       ng-model="organisation.name" required/>
            </div>
            <div class="form-group">
                <label class="control-label">{{$strings.states.organisation.description}}</label>
                <input type="text" class="form-control" id="organisationDescription" placeholder="Description"
                       ng-model="organisation.description" required/>
            </div>
            <div class="form-group">
                <label class="control-label">{{$strings.states.organisation.address}}</label>
                <input type="text" class="form-control" id="organisationAddress" placeholder="Address"
                       ng-model="organisation.address" required/>
            </div>
            <div class="form-group">
                <label class="control-label">{{$strings.states.organisation.vatNumber}}</label>
                <input type="text" class="form-control" id="organisationVatNumber" placeholder="Vat number"
                       ng-model="organisation.vatNumber" required/>
            </div>

            <div class="form-group">
                <label class="control-label">{{$strings.states.organisation.country}}</label>
                <select class="form-control" ng-model="organisation.country.id"
                        ng-options="country.id as country.description for country in countries" required>

                </select>
            </div>
            <button type="submit" class="btn btn-default" ng-disabled="organisationForm.$invalid">{{submitMessage}}
            </button>
        </form>
    </div>
</div>