<div class="p-m tab-pane">
   <div class="row">
   
   <div class="panel-body">

                <p class="m-b-lg">
                    <strong>Nestable</strong> is an interactive hierarchical list. You can drag and drop to rearrange the order. It works well on touch-screens.
                </p>

                <div id="nestable" class="dd">
                    <ol class="dd-list">
                        <li data-id="1" class="dd-item">
                            <div class="dd-handle">1 - Lorem ipsum</div>
                        </li>
                        <li data-id="2" class="dd-item"><button type="button" data-action="collapse">Collapse</button><button type="button" data-action="expand" style="display: none;">Expand</button>
                            <div class="dd-handle">2 - Dolor sit</div>
                            <ol class="dd-list">
                                <li data-id="3" class="dd-item">
                                    <div class="dd-handle">3 - Adipiscing elit</div>
                                </li>
                                <li data-id="4" class="dd-item">
                                    <div class="dd-handle">4 - Nonummy nibh</div>
                                </li>
                            </ol>
                        </li>
                        <li data-id="5" class="dd-item"><button type="button" data-action="collapse">Collapse</button><button type="button" data-action="expand" style="display: none;">Expand</button>
                            <div class="dd-handle">5 - Consectetuer</div>
                            <ol class="dd-list">
                                <li data-id="6" class="dd-item">
                                    <div class="dd-handle">6 - Aliquam erat</div>
                                </li>
                                <li data-id="7" class="dd-item">
                                    <div class="dd-handle">7 - Veniam quis</div>
                                </li>
                            </ol>
                        </li>
                        <li data-id="8" class="dd-item">
                            <div class="dd-handle">8 - Tation ullamcorper</div>
                        </li>
                        <li data-id="9" class="dd-item">
                            <div class="dd-handle">9 - Ea commodo</div>
                        </li>
                    </ol>
                </div>
                <div class="m-t-md">
                    <h5>Serialised Output</h5>
                </div>
                <textarea class="form-control" id="nestable-output"></textarea>

            </div>
   
   
   </div>
   <div class="text-right m-t-xs">
      <button class="btn btn-default prev" type="button" ng-click="move(false)">Previous</button>
      <button class="btn btn-default next" type="button" ng-click="move(true)">Next</button> 
   </div>
</div>

