<div class="p-m tab-pane">
    <h2 class="wizard-subtitle">General settings</h2>
	<div class="row">
    	<div class="col-lg-3 text-center">
            <i class="fa fa-file-image-o fa-5x text-muted" />
            <p class="small m-t-md">
                <strong>Logo</strong>
            </p>
            <button class="btn btn-default" type="button" ng-click="showModalLogo()">
                <!--i class="fa fa-upload" /-->
                <span class="bold">
                    Choose ...
                </span>
            </button>
        </div>
      <div class="col-lg-9">
         <div class="row">
            <div class="form-group col-lg-12">
               <label>API Name</label>
               <input type="text" placeholder="API name" name="apiname" class="form-control" id="apiname" ng-model="api.name">
            </div>
            <div class="form-group col-lg-12">
               <label>Base URL</label>
               <input type="text" placeholder="Base URL" name="url" class="form-control" id="url" ng-model="api.url">
            </div>
			<div class="form-group col-lg-12">
              <label>
              	Organization
                <a tooltip-placement="top" tooltip="If you are creating an API that belongs to an organization, please select the organization from the list below.">
                	<i class="fa fa-question" />
                </a>
               </label>
			   <select class="form-control" ng-model="api.organization">
               	 <option value="" selected />
                </select>
<!--                <select class="form-control" ng-options="organisation.name for organisation in organisations track by organisation.id" ng-model="consumer.organisation"> -->
<!--               	 <option value="" selected /> -->
<!--                </select> -->
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-lg-12">
         <div class="row">
            <div class="form-group col-lg-12">
               <label>Description</label>
               <textarea placeholder="Description" name="description" class="form-control textarea-resize" ng-model="api.description"> </textarea>
            </div>
            <div class="form-group col-lg-12">
               <label>Categories</label>
               <input type="text" placeholder="Categories" name="categories" class="form-control" ng-model="api.categories">
            </div>
            <div class="form-group col-lg-12">
               <label>Visible</label>
               <div class="checkbox">
                     <div id = "visibleCheck" ng-click="changeSelect('visibleCheck')" class="icheckbox_square-green checked" style="position: relative;">
						<input type="checkbox" checked="" class="i-checks" style="position: absolute; opacity: 0;" ng-model="api.visible">
							<ins class="iCheck-helper ins-style"></ins></div>                  
							Is API visible to all users 
                  </label>
               </div>
            </div>
            <div class="form-group col-lg-12">
               <label>Online</label>
               <div class="checkbox">
                     <div id = "onlineCheck" ng-click="changeSelect('onlineCheck')" class="icheckbox_square-green checked" style="position: relative;">
						<input type="checkbox" class="i-checks" style="position: absolute; opacity: 0;" ng-model="api.online">
							<ins class="iCheck-helper ins-style"></ins></div>
                     Set API status to active/online 
                  </label>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="text-right m-t-xs">
   	  <button class="btn btn-primary next" type="button" ng-click="test()">Test</button>   
      <button class="btn btn-primary next" type="button" ng-click="move(true)">Step 2 - Implementation</button>   
   </div>
</div>