<div class="row">
    <div class="col-lg-12 m-t-md">
        <div class="hpanel">
            <div class="panel-body">
                <h2 class="font-light m-b-xs">
                    My organisations
                </h2>
                <small>
                    A list of organisations that you belong to.
                </small>
            </div>
        </div>
    </div>
</div>

<div class="row m-t">
    <organisation-card ng-repeat="organisation in organisations" model="producer"></organisation-card>
</div>
