<div class="p-m tab-pane">
   <div class="row">
	  <h2>Create new version</h2>
      <div class="col-lg-4 animated-panel zoomIn" style="animation-delay: 0.2s;">
         	<div class="form-group col-lg-12">
               <label>Version</label>
               <input type="" placeholder="Version" name="version" class="form-control" id="" value="">
            </div>
         	<div class="form-group col-lg-12">
               <label>Version type</label>
               	<select name="account" class="form-control m-b">
                	<option>In production</option>
                	<option>Deprecated</option>
                	<option>Retired</option>
                	<option>Published</option>
            	</select>
            </div>
      </div>
   </div>
   <div class="text-right m-t-xs">
      <button class="btn btn-default prev" type="button" ng-click="move(false)">Previous</button>
      <button class="btn btn-default next" type="button">Complete</button> 
   </div>
</div>

