<div class="row">
    <div class="col-lg-3 text-center">
        <i class="pe-7s-credit fa-5x text-muted"></i>
        <p class="small m-t-md">
            <strong>It is a long</strong> established fact that a reader will be distracted by the readable
            <br/><br/>Many desktop publishing packages and web page editors now use
        </p>
    </div>
    <div class="col-lg-9">
        <div class="row">
            <div class="form-group col-lg-12">
                <label>Version type</label>
                <select class="form-control" ng-options="versionType.description for versionType in versionTypes track by versionType.id" ng-model="consumer.consumerVersions[0].versionType" />
            </div>
        </div>
    </div>
</div>