<div class="p-m tab-pane">
   <h2  class="wizard-subtitle">Implementation</h2>
   <div class="row">
    	<div class="col-lg-12 animated-panel zoomIn" style="animation-delay: 0.4s;">
        <div class="hpanel">
            <ul class="nav nav-tabs">
			    <li id="endpoint" class="active" ng-click="changeTab(1)"><a>Endpoints</a></li>
                <li id="group" ng-click="changeTab(2)"><a>Groups</a></li>
            </ul>
            <div class="tab-content">
               <div ui-view />
            </div>
        </div>
    </div>
   </div>
   
   <div class="text-right m-t-xs">
      <button class="btn btn-default prev" type="button" ng-click="move(false)">Step 1 - Documentation</button>
      <button class="btn btn-primary next" type="button" ng-click="move(true)">Step 3 - Plans</button> 
   </div>
</div>

