<form role="form">
	<div class="form-group">
		<label for="title">Title:</label>
		<input id="title" ng-model="formData.title" class="form-control" />
	</div>
	<div class="form-group">
		<label for="text">Text:</label>
		<textarea id="text" class="form-control" rows="3" ng-model="formData.text"></textarea>
	</div>
	<input class="btn btn-primary" type="submit" value="Submit" ng-click="submitForm()"
		ng-disabled="!formData.text.length || !formData.title.length" />
	<button type="button" class="btn btn-default" ng-click="cancelCreate()">Cancel</button>
	
</form>