<div class="p-m tab-pane">
   <div class="text-center m-t-xs" style="margin-top:-40px;">
      <button class="btn btn-default prev" type="button" ng-click="back()">Step 1 - Basic info</button>
      <button class="btn btn-primary prev" type="button">Step 2 - Global restrictions</button>
   </div>
   <h2>Create new plan</h2>
   <h2><small>Step 2 - Global restrictions</small></h2>
   <div class="row">
      <div class="col-md-8">
               <table ng-table="restrictionsTableParams" class="table">
                  <tr ng-repeat="restriction in $data">
                     <td class="col-lg-3" data-title="'Type'">
                        <span ng-if="!restriction.$edit">{{restriction.type}}</span>
                        <div ng-if="restriction.$edit"><input class="form-control" type="text" ng-model="restriction.type" /></div>
                     </td>
					 <td class="col-lg-7" data-title="'Limit'">
                        <span ng-if="!restriction.$edit">{{restriction.limit}} per {{restriction.unit}} </span>
                        <div ng-if="restriction.$edit"><input class="form-control" type="text" ng-model="restriction.limit" /></div>
						<div ng-if="restriction.$edit"><input class="form-control" type="text" ng-model="restriction.unit" /></div>
                     </td>
                     <td class="col-lg-2" data-title="'Actions'">
                        <a ng-if="!restriction.$edit" class="btn btn-default" ng-click="restriction.$edit = true"><i class="fa fa-edit"></i></a>
                        <a ng-if="!restriction.$edit" class="btn btn-default" ng-click="restriction.$edit = true"><i class="fa fa-remove"></i></a>      
                        <a ng-if="restriction.$edit" class="btn btn-default" ng-click="restriction.$edit = false"><i class="fa fa-save"></i></a>     
                     </td>
                  </tr>
               </table>
      </div>

      <div class="col-md-4">
		 	<label>Price for exceeding restrictions </label>
         
         <div class="form-group col-lg-12">
            <label>Per request</label>
            <input type="" placeholder="Initial version" name="initVersion" class="form-control" id="" value="">	       
         </div>
         <div class="form-group col-lg-12">
            <label>Per MB</label>
            <input type="" placeholder="Initial version" name="initVersion" class="form-control" id="" value="">	       
         </div>
         <div class="col-sm-6">
			<label>Suspend action</label>
            <div class="radio">
               <input type="radio" checked="" value="option1" id="radio1" name="radio1">
               <label for="radio1">
               Suspend action on exceeding quotas
               </label>
            </div>
            <div class="radio">
               <input type="radio" value="option2" id="radio2" name="radio1">
               <label for="radio2">
               Bill exceeding requests/MB
               </label>
            </div>
         </div>
      </div>
   </div>
   <div class="row col-lg-12 text-right m-t-xs">
      <button class="btn btn-default prev" type="button" ng-click="prev()">Basic info</button>
      <button class="btn btn-primary next" type="button" ng-click="complete()">Create plan</button> 
   </div>
</div>

