<div class="col-lg-12" ng-click="goToDetails(producer.id)">
	<!-- Main view -- BEGIN -->
	<div class="hpanel contact-panel">
		<div class="panel-body panel-grid">
			<table class="grid">
				<tbody>
					<tr>
						<td rowspan="2" class="api-sm api-background api-padding border-right">
<!--							<img alt="logo" class="img-circle m-b center" data-ng-src="{{ 'data:image/png;base64,'+producer.logo }}">-->
								<img alt="logo" class="img-logo center" src="http://en.bicikelj.si/var/pam/storage/images/medias/images/ljubljana/logo/125663-2-eng-GB/Logo.jpg">
						</td>
						<td rowspan="2" class="api-md">
							<div class="api-relative">
								<div class="api-categories">
									<div ng-repeat="category in producer.categories" class="api-category" style="background-color: {{category.color}};">
										<p class="text-center"><strong>{{ category.description }}</strong></p>
									</div>
								</div>
							</div>
							<div class="api-padding">
								<h3 class="padding-bottom-10">{{ producer.name }}</h3>
								<p>{{ producer.description | shortenText: 150 }}</p>
							</div>
						</td>
						<td class="api-sm api-background api-padding border-left text-center">
							<a id="goto-location-view1">
								<div class="inline-icon-text">
									<i class="pe-7s-global"></i>
									<span class="font-normal">{{ producer.location || "Slovenia" }}</span>
								</div>
							</a>
						</td>
						<td class="api-sm api-background api-padding border-left text-center">
							<div class="inline-icon-text">
								<i class="pe-7s-users"></i>
								<span class="font-normal">{{ producer.users.length }}</span>
							</div>
						</td>
						<td class="api-sm api-background api-padding border-left text-center">
							<div class="inline-icon-text">
								<i class="pe-7s-star"></i>
								<span class="font-normal">{{ producer.averageRating || "4.5" }}</span>
							</div>
						</td>
						<td class="api-sm api-background api-padding border-left text-center">
							<div class="inline-icon-text">
								<i class="pe-7s-cash"></i>
								<span class="font-normal">{{ producer.pricing || "FREE" }}</span>
							</div>
						</td>
					</tr>
					<tr>
						<td colspan="4" class="api-sm api-background api-padding border-top text-center">
							<div class="inline-icon-text">
								<a id="goto-publisher-view1">
									<i class="pe-7s-culture"></i>
									<span class="font-normal">{{  organisations[producer.organisation.id].name || (users[producer.user.id].firstName + " " + users[producer.user.id].lastName)   }}</span>
								</a>
							</div>
						</td>
					</tr>
				</tbody>
			</table>


		</div>

	</div>
	<!-- Main view -- END -->
</div>
