<div class="hpanel">
    <div class="panel-heading"><h3>{{organisation.name}}</h3></div>
    <div class="panel-body">
            <div class="row">
                <div class="col-md-2">{{$strings.states.organisation.description}}</div>
                <div class="col-md-10">{{organisation.description}}</div>
            </div>
            <div class="row">
                <div class="col-md-2">{{$strings.states.organisation.address}}</div>
                <div class="col-md-10">{{organisation.address}}</div>
            </div>
            <div class="row">
                <div class="col-md-2">{{$strings.states.organisation.vatNumber}}</div>
                <div class="col-md-10">{{organisation.vatNumber}}</div>
            </div>
            <div class="row">
                <div class="col-md-2">{{$strings.states.organisation.country}}</div>
                <div class="col-md-10">{{organisation.country.description}}</div>
            </div>
            <div class="btn-group">
                <a class="btn btn-primary" ui-sref="layout.organisation.edit({organisationId: organisation.id})">{{$strings.states.organisation.details.editMessage}}</a>
                <a class="btn btn-success" ui-sref="#">{{$strings.states.organisation.details.joinOrganisation}}</a>
            </div>
    </div>
</div>