<div class="row">
    <div class="col-lg-12 m-t-md">
        <div class="hpanel">
            
            <div class="panel-body float-e-margins">
                <div class="row">
                    
					<!-- API logo -->
                    <div class="col-md-3">
                        <img src="{{apiDetails.logo}}" class="img-responsive" />
                    </div>
                    
					<!-- API middle section -->
                    <div class="col-md-9">
                    <div class="col-md-8">
                       <h2>{{apiDetails.name}}</h2> 
                       <!--p>Created: {{apiDetails.date}}</p-->
                       <p><a href="#">{{apiDetails.organisation.name}}</a></p>
                       <div class="btn-toolbar">
                           <button ng-repeat="category in apiDetails.categories"
                               class="btn btn-xs btn-info" type="button">#{{category.description}}</button>
                       </div>
                    </div>
                    
					<!-- API right section -->
                    <div class="col-md-4 text-right">
                        <rating ng-model="apiDetails.averageRating" max="5" on-hover="undefined"
                            ng-click="undefined"></rating>
                        <p><a href="#">{{apiDetails.numberOfReviews}} reviews, 
                            {{apiDetails.averageRating}} average rating</a></p>
                        <p>Available versions:</p>
                        <api-version-select versions="apiDetails.versions" 
                            version-changed="versionChanged(version)" 
                            initial-version="initialVersion"></api-version-select>
                    </div>
                    
                    <!-- API long description -->
                    <div class="col-md-12" style="margin-top: 10px;">
                        <p>{{apiDetails.description}}</p>
                    </div>
                    </div>
                    
                </div>
                
            </div>
            
        </div>
    </div>
</div>
