#side-menu li .nav-second-level li {
  a {
    padding: 10px 20px 10px 30px;
  }

  .nav-third-level li {
    a {
      padding: 10px 10px 10px 40px;
      color: #6a6c6f;
      text-transform: none;
      font-weight: 600;
    }

    &.active a {
      text-decoration: underline;
    }
  }
}
