<ul class="nav" id="side-menu">
    <li ng-repeat="menuItem1 in menuItems()" ui-sref-active="active">
        <a ui-sref="{{ menuItem1.link || '.' }}">
            <span class="nav-label">{{ menuItem1.name }}</span>
            <span ng-if="menuItem1.children.length > 0" class="fa arrow"></span>
        </a>
        <ul ng-if="menuItem1.children.length > 0" class="nav nav-second-level">
            <li ng-repeat="menuItem2 in menuItem1.children">
                <a ui-sref="{{ menuItem2.link || '.' }}">
                    <span class="nav-label">{{ menuItem2.name }}</span>
                    <span ng-if="menuItem2.children.length > 0" class="fa arrow"></span>
                </a>
                <ul ng-if="menuItem2.children.length > 0" class="nav nav-third-level">
                    <li ng-repeat="menuItem3 in menuItem2.children">
                        <a ui-sref="{{ menuItem3.link || '.' }}">
                            <span class="nav-label">{{ menuItem3.name }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
