<div class="row">
    <div class="col-lg-12">
        <div class="hpanel">
            <div class="panel-heading">
                New application wizard
            </div>
            <div class="panel-body">
                <form name="createApplicationForm" novalidate id="createApplicationForm">
                    <div class="text-center m-b-md">
                        <a ng-click="wizard.show(0)" class="btn" ng-class="{ 'btn-primary': step == 0, 'btn-default': step != 0}">Step 1 - Basic settings</a>
                        <a ng-click="wizard.show(1)" class="btn" ng-class="{ 'btn-primary': step == 1, 'btn-default': step != 1}">Step 2 - Initial version</a>
                        <a ng-click="wizard.show(2)" class="btn" ng-class="{ 'btn-primary': step == 2, 'btn-default': step != 2}">Step 3 - Service contracts</a>
                        <a ng-click="wizard.show(3)" class="btn" ng-class="{ 'btn-primary': step == 3, 'btn-default': step != 3}">Step 4 - Approval</a>
                    </div>

                    <div ui-view="" />

                    <!--div ng-show="step == 1"  class="p-m">
                        <div class="row">
                            <div class="col-lg-3 text-center">
                                <i class="fa fa-file-image-o fa-5x text-muted"></i>
                                <p class="small m-t-md">
                                    <strong>Logo</strong>
                                </p>
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-upload" />
                                    <span class="bold">
                                        Upload
                                    </span>
                                </button>
                            </div>
                            <div class="col-lg-9">
                                <div class="row">
                                    <div class="form-group col-lg-6">
                                        <label>Name</label>
                                        <input type="text" required class="form-control" ng-model="user.username" placeholder="application name">
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label>
                                            Organisation
                                            <a tooltip-placement="top" tooltip="If an organisation belongs to an organisation, select the correct organisation from the list below.">
                                                <i class="fa fa-question" />
                                            </a>
                                        </label>
                                        <select class="form-control" ng-options="organisation.name for organisation in organisations" ng-model="selectedOrganisation"></select>
                                    </div>
                                    <div class="form-group col-lg-12">
                                        <label>Description</label>
                                        <textarea class="form-control"></textarea>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div ng-show="step == 2" class="p-m">

                        <div class="row">
                            <div class="col-lg-3 text-center">
                                <i class="pe-7s-credit fa-5x text-muted"></i>
                                <p class="small m-t-md">
                                    <strong>It is a long</strong> established fact that a reader will be distracted by the readable
                                    <br/><br/>Many desktop publishing packages and web page editors now use
                                </p>
                            </div>
                            <div class="col-lg-9">
                                <div class="row">
                                    <div class="form-group col-lg-12">
                                        <label>Name on Card</label>
                                        <input type="" value="" class="form-control" ng-model="user.card_name">
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label>Card Number</label>
                                        <input type="text" value="" class="form-control" name="" ng-model="user.card_number">
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label>Billing Address</label>
                                        <input type="text" value="" class="form-control" name="" ng-model="user.billing_address">
                                    </div>
                                    <div class="form-group col-lg-12">
                                        <div class="row">
                                            <div class="col-xs-4 form-group">
                                                <label>CVC</label>
                                                <input class="form-control" placeholder="ex. 381"  type="text" ng-model="user.cvc">
                                            </div>
                                            <div class="col-xs-4 form-group">
                                                <label>Expiration</label>
                                                <input class="form-control" placeholder="MM" type="text" ng-model="user.expire_month">
                                            </div>
                                            <div class="col-xs-4 form-group">
                                                <label></label>
                                                <input class="form-control" placeholder="YYYY" type="text" ng-model="user.expire_year">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div ng-show="step == 3">

                        <div class="row text-center m-t-lg m-b-lg">
                            <div class="col-lg-12">
                                <i class="pe-7s-check fa-5x text-muted"></i>
                                <p class="small m-t-md">
                                    <strong>There are many</strong> variations of passages of Lorem Ipsum available, but the majority have suffered
                                </p>
                            </div>
                            <div class="checkbox col-lg-12">
                                <input icheck type="checkbox" ng-model="user.approve">
                                Approve this form
                            </div>

                        </div>

                    </div-->

                    <div class="text-right m-t-xs">
                        <button ng-click="wizard.prev()" ng-hide="step == 0" class="btn btn-default">Previous</button>
                        <button ng-click="wizard.next(createApplicationForm.$valid)" ng-disabled="step == 3" ng-hide="step == 3" class="btn btn-default">Next</button>
                        <button ng-click="wizard.submit(createApplicationForm.$valid)" ng-show="step == 1 || step == 3" class="btn btn-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>