html, body {
    margin: 0;
    padding: 0;
}

.la-cog {
    position: relative;
    margin: 0 auto;
}
.la-cog > div {
    position: relative;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    color: #fff;
    background: #fff;
    border-color: #fff;
    border-style: solid;
    border-width: 0;
}
.la-cog:after {
    display: table;
    line-height: 0;
    clear: both;
    content: "";
}
.la-cog.la-dark > div {
    color: #444;
    background: #444;
    border-color: #444;
}

.la-cog {
    width: 33px;
    height: 33px;
}
.la-cog > div {
    width: 29px;
    height: 29px;
    float: none;
    background-color: transparent !important;
    border-style: dashed;
    border-width: 2px;
    border-radius: 100%;
    -webkit-box-shadow: inset 0 0 0 2px currentColor;
    box-shadow: inset 0 0 0 2px currentColor;
    -webkit-animation: cog-rotate 4s linear infinite;
    -moz-animation: cog-rotate 4s linear infinite;
    -o-animation: cog-rotate 4s linear infinite;
    animation: cog-rotate 4s linear infinite;
}
.la-cog.la-sm {
    width: 21px;
    height: 21px;
}
.la-cog.la-sm > div {
    width: 19px;
    height: 19px;
    border-width: 1px;
    -webkit-box-shadow: inset 0 0 0 1px currentColor;
    box-shadow: inset 0 0 0 1px currentColor;
}
.la-cog.la-lg {
    width: 49px;
    height: 49px;
}
.la-cog.la-lg > div {
    width: 43px;
    height: 43px;
    border-width: 3px;
    -webkit-box-shadow: inset 0 0 0 2px currentColor;
    box-shadow: inset 0 0 0 2px currentColor;
}
.la-cog.la-2x {
    width: 58px;
    height: 58px;
}
.la-cog.la-2x > div {
    width: 50px;
    height: 50px;
    border-width: 4px;
    -webkit-box-shadow: inset 0 0 0 3px currentColor;
    box-shadow: inset 0 0 0 3px currentColor;
}

/*
 * Animation
 */
@-webkit-keyframes cog-rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes cog-rotate {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes cog-rotate {
    0% {
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes cog-rotate {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}