﻿@import "../../vendor/bootstrap/less/bootstrap.less";
@import "../../vendor/fontawesome/less/font-awesome.less";
@import "../../libs/pixeden-stroke-7-icon/less/pe-icon-7-stroke.less";
@import (inline) "../../vendor/sweetalert/dist/sweetalert.css";
@import (inline) "../../vendor/angular-toastr/dist/angular-toastr.css";
@import (inline) "../../vendor/angular-ui-select/dist/select.css";

// Homer theme
@import "../../libs/homer/landing.less";
@import "../../libs/homer/margins.less";
@import "../../libs/homer/alerts.less";
@import "../../libs/homer/modal.less";
@import "../../libs/homer/progress_bar.less";
@import "../../libs/homer/login.less";
@import "../../libs/homer/timeline.less";
@import "../../libs/homer/contact.less";
@import "../../libs/homer/calendar.less";
@import "../../libs/homer/text_editor.less";
@import "../../libs/homer/grid.less";
@import "../../libs/homer/dropdown.less";
@import "../../libs/homer/chat.less";
@import "../../libs/homer/buttons.less";
@import "../../libs/homer/fonts.less";
@import "../../libs/homer/icheck.less";
@import "../../libs/homer/layout.less";
@import "../../libs/homer/lists.less";
@import "../../libs/homer/panels.less";
@import "../../libs/homer/tabs.less";
@import "../../libs/homer/tooltip.less";
@import "../../libs/homer/various.less";
@import "../../libs/homer/base.less";
@import "../../libs/homer/projects.less";
@import "../../libs/homer/social_board.less";
@import "../../libs/homer/nestable_list.less";
@import "../../libs/homer/tour.less";
@import "../../libs/homer/blog.less";
@import "../../libs/homer/forum.less";
@import "../../libs/homer/wizard.less";
@import "../../libs/homer/mailbox.less";

@fa-font-path: "../../vendor/fontawesome/fonts";
@icon-font-path: "../../vendor/bootstrap/fonts/";
@font-path: "../../libs/pixeden-stroke-7-icon/fonts";
@icheck-path: "../../images/icheck";

// Color list
@color-navy-blue: #34495e;
@color-violet: #9b59b6;
@color-blue: #3498db;
@color-green: #00a65a;
@color-green-dark: #008d4c;
@color-yellow: #ffb606;
@color-orange: #e67e22;
@color-red: #e74c3c;
@color-red-deep: #c0392b;

// Additional colors
@color-text: #707980;
@color-bright: #f7f9fa;
@color-background: #edf0f5;
@border-color: #e4e5e7;

// Additional variables
@menu-width: 240px;
@header-height: 50px;
@main-transition: all 0.1s ease-out 0s;

//content
@import "../content/explore/explore.less";

// Page specific styling
@import "explore/explore.less";
@import "publish/publish.less";

// Directives styling
@import "../directives/api/grid/grid.less";
@import "../directives/api/card/card.less";
@import "../directives/leftNav/leftNav.less";
@import "../directives/header/header.less";

@import "../theme/base.less";
@import "../theme/green.less";


