<page-header></page-header>

<!-- Navigation -->
<aside id="menu">
    <div id="navigation">
        <left-nav></left-nav>
    </div>
</aside>

<!-- Main Wrapper -->
<div id="wrapper">
    <div ui-view class="content"></div>
</div>