#header {
  height: @header-height;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .1);
  z-index: 1001;
  border: none;

  .header-link {
    padding: 14px 20px 15px 20px;
    border-right: none;
    background: white;

    @media (max-width: @screen-sm-min) {
      padding-top: 13px;
    }
  }

  nav[role=navigation] {
    height: @header-height;
    margin-left: @menu-width;

    @media (max-width: @screen-sm-min) {
      margin-left: 0;
    }
  }

  @media (max-width: @screen-sm-min) {
    height: @header-height * 2 - 2;
  }
}

#logo {
  background: white;
  border-bottom: none;
  padding: 15px 10px 1px 18px;
  height: @header-height;

  > span {
    color: @color-text;
  }

  @media (max-width: @screen-sm-min) {

    width: 100%;
    float: none;
    display: block;
    text-align: center;
  }
}

.navbar-right {
  margin-right: 10px;

  .navbar-nav {

    > .user-menu {

      > a {
        padding-right: 18px;
      }

      .user-image {
        float: left;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-top: -4px;
      }
    }

    > li {
      height: @header-height;

      > a {
        height: @header-height;
        border-bottom: none;
        padding: 15px 18px;

        @media (max-width: @screen-sm-min) {
          height: @header-height - 2;
        }
      }

      > ul.dropdown-menu {
        border: 0;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2);

        > li > a {
          width: 200px;
          color: @color-text;
        }

        @media (max-width: @screen-sm-min) {
          left: auto;
          right: 0;
        }
      }

      li.divider {
        //margin: 5px -15px;
        margin: 5px auto;
      }

      @media (max-width: @screen-sm-min) {
        height: @header-height - 2;
        float: left;
      }
    }

    > li.open {

      > a {
        border-bottom: none;
      }
    }

    .open .dropdown-menu {

      @media (max-width: @screen-sm-min) {

        position: absolute;
        background: white;
        border: 1px solid rgba(0, 0, 0, 0.15);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
      }
    }

    @media (max-width: @screen-sm-min) {

      margin: 0;
      float: left;
    }
  }

  @media (max-width: @screen-sm-min) {

    float: right;
    display: block;
  }
}

.navbar-middle {
  height: @header-height;
  padding-left: 10px;

  .form-control {
    //height: @header-height
  }
}

.form-control{
  height:34px;
}


#menu {
  top: @header-height;
  background: white;
  z-index: 1000;

  @media (max-width: @screen-sm-min) {

    top: @header-height * 2 - 3;
    margin-left: -@menu-width;
  }
}

#wrapper {

  @media (max-width: @screen-sm-min) {

    margin-left: 0;
  }
}

body.show-sidebar #menu {

  @media (max-width: @screen-sm-min) {

    margin-left: 0;
  }
}

body.show-sidebar #wrapper {

  @media (max-width: @screen-sm-min) {

    margin-left: @menu-width;
  }
}

.icheckbox_square-green,
.iradio_square-green {
  background: url("@{icheck-path}/green.png") no-repeat;
}

@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  .icheckbox_square-green,
  .iradio_square-green {
    background-image: url("@{icheck-path}/green@2x.png");
  }
}

.row-margin-top {
  [class*="col-"] {
    margin-top: 10px;
  }
}

.row-margin-bottom {
  [class*="col-"] {
    margin-bottom: 10px;
  }
}

.inline-icon-text {
    display: inline-block;
    height: 45px;
    i{
      line-height: 45px;
      font-size : 25px;
    }
    span{
      line-height: 45px;
    }
}

.api-category {
	height: 2px;
	max-height: 2px;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-ms-transition:  1s;
	-o-transition: 1s;
	transition: 1s;
	overflow: hidden;
}



.api-categories {
	position:absolute;
	top: 0;
	right: 0;
	left: 0;
}

.api-relative {
	position:relative;
}
//font sizes
.font-size-11{
  font-size: 11px;
}
