.theme-green {

  #header {

    .header-link {
      background: @color-green;
      color: white;
    }

    nav[role=navigation] {
      background: @color-green;
    }
  }

  #logo {
    background: @color-green-dark;

    > span {
      color: white;
    }
  }

  .navbar-right .navbar-nav {

    > li {

      > a {
        color: white;
      }

      > a:hover {
        background: @color-green-dark;
      }
    }

    > li.open {

      > a {
        background: @color-green-dark;
      }
    }
  }

  .navbar-middle .form-control {
    color: white;

    &::-webkit-input-placeholder {
      color: white;
      font-style: italic;
      opacity: 0.6;
    }

    &:-moz-placeholder {
      color: white;
      font-style: italic;
      opacity: 0.6;
    }

    &::-moz-placeholder {
      color: white;
      font-style: italic;
      opacity: 0.6;
    }

    &:-ms-input-placeholder {
      color: white;
      font-style: italic;
      opacity: 0.6;
    }
  }
}