<div class="tab-pane">
	<div class="panel-body">
		<h2>Edit endpoints</h2>
		<div class="col-lg-6 animated-panel zoomIn" style="animation-delay: 0.2s;">
			<accordion close-others="oneAtATime">
				<accordion-group ng-repeat="group in groups" heading="{{group.name}}" is-open="status.isFirstOpen">
			 		<ul class="list-group">
	  					<li class="list-group-item" ng-repeat="endpoint in group.endpoints" ng-click="setSelectedEndpoint(group.id, endpoint.id)">{{endpoint.name}}</li>
					</ul>
	   			</accordion-group>
	  		</accordion>
    	</div>
	
		<div class="col-lg-6 animated-panel zoomIn border-left" style="animation-delay: 0.2s;">
			<h2>{{selectedEndpoint.name}}</h2>
			<div class="form-group col-lg-12">
               <label>Name</label>
               <input type="text" placeholder="Name" name="name" class="form-control" ng-model="selectedEndpoint.name">
            </div>
			<div class="form-group col-lg-12">
               <label>Path</label>
               <input type="text" placeholder="Path" name="name" class="form-control" ng-model="selectedEndpoint.path">
            </div>
			<div class="form-group col-lg-12">
               <label>Method</label>
               <select name="account" class="form-control m-b">
                	<option>GET</option>
                	<option>POST</option>
            	</select>
            </div>
			<div class="form-group col-lg-12">
               <label>Group</label>
				<select name="account" class="form-control m-b">
                	<option>Group 1</option>
                	<option>Group 2</option>
                	<option>Group 3</option>
                	<option>Group 4</option>
            	</select>
            </div>
			<div class="form-group col-lg-12">
				<label>Querystring parameters</label> 	
				<div class="row col-md-12" style="padding-bottom:10px;">
					<button type="button" class="btn btn-primary" ng-click="showModal()"><i class="fa fa-plus"></i> Add new parameter</button>
				</div>
			
			<div class="row col-md-12">
				<table ng-table="queryParamTable" class="table">
		        	<tr ng-repeat="parameter in selectedEndpoint.parameters">
		            	<td data-title="'Name'">
		                	{{parameter.name}}
		            	</td>
		            	<td data-title="'Type'">
		               		{{parameter.type}}
		            	</td>
		            	<td data-title="'Condition'">
		               		{{parameter.condition}}
		            	</td>
		            	<td data-title="'Description'">
		               		{{parameter.description}}
		            	</td>
		        	</tr>
		        </table>	
              
				</div>
            </div>
			<div class="form-group col-lg-12 text-right">
			  <button class="btn w-xs btn-default" type="button">Cancel</button>
              <button class="btn w-xs btn-primary" type="button">Save</button>
            </div>

		</div>
	</div>
</div>