<div>
    <div class="modal-header text-center">
        <h4 class="modal-title">New parameter</h4>
    </div>
    <div class="modal-body">
    	<div class="row">
        	<div class="form-group col-lg-12">
               <label>Name</label>
               <input type="text" placeholder="Name" name="name" class="form-control" id="" value="">
            </div>
            <div class="form-group col-lg-12">
               <label>Type</label>
               <input type="text" placeholder="Type" name="type" class="form-control" id="" value="">
            </div>
           	<div class="form-group col-lg-12">
               <label>Condition</label>
               <input type="text" placeholder="Condition" name="condition" class="form-control" id="" value="">
            </div>
           	<div class="form-group col-lg-12">
               <label>Description</label>
               <input type="text" placeholder="Description" name="description" class="form-control" id="" value="">
            </div>
    	</div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="cancelModal()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="ok()">Submit</button>
    </div>
</div>