<div class="tab-pane">
   <div class="panel-body">
      <h2>Edit groups</h2>
      <div class="col-lg-6 animated-panel zoomIn" style="animation-delay: 0.2s;">
         <div class="row col-md-12" style="padding-bottom:10px;">
            <button type="button" class="btn btn-primary" ng-click="newGroup()"><i class="fa fa-plus"></i> Add new group</button>
         </div>
         <div class="row col-md-12">
	         <table ng-table="groupTable" class="table">
	        	<tr ng-repeat="group in groups" ng-click="setSelected(group.id)">
	            	<td data-title="'Name'">
	                	{{group.name}}
	            	</td>
	            	<td data-title="'Description'">
	               		{{group.description}}
	            	</td>
	        	</tr>
	        </table>	
         </div>
      </div>
      <div class="col-lg-6 animated-panel zoomIn border-left" style="animation-delay: 0.2s;">
         <h2 ng-if="!isNew">{{selected.name}}</h2>
         <h2 ng-if="isNew">Add new group</h2>
         <div class="form-group col-lg-12">
            <label>Name</label>
            <input type="text" placeholder="Name" name="name" class="form-control" ng-model="selected.name">
         </div>
         <div class="form-group col-lg-12">
            <label>Description</label>
            <textarea placeholder="Description" name="description" class="form-control textarea-resize-large" ng-model="selected.description"> </textarea>
         </div>
         <div class="form-group col-lg-12 text-right">
            <button class="btn w-xs btn-default" type="button" ng-click="resetGroup()">Cancel</button>
            <button class="btn w-xs btn-primary" type="button" ng-click="saveGroup()">Save</button>
         </div>
      </div>
   </div>
</div>
