<header id="header">
    <div id="logo">
    <span>
        <a href="/">
            API marketplace
        </a>
    </span>
    </div>
    <nav role="navigation">
        <minimalize-menu></minimalize-menu>

        <div class="navbar-right">
            <ul class="nav navbar-nav">
                <li ng-if="$auth.keycloak.realmAccess.roles[0] == 'admin'" class="dropdown" dropdown>
                    <a class="dropdown-toggle" href="#" dropdown-toggle aria-haspopup="true" aria-expanded="false">
                        <i class="pe-7s-tools"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a ui-sref="layout.admin">
                                Manage Users
                                <i class="fa fa-users pull-right" />
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-if='$auth.keycloak.authenticated' class="dropdown" dropdown>
                    <a class="dropdown-toggle" href="#" dropdown-toggle aria-haspopup="true" aria-expanded="false">
                        <i class="pe-7s-plus"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a ui-sref="layout.publish.documentation">
                                New API
                                <i class="fa fa-gear pull-right" />
                            </a>
                        </li>
                        <li>
                            <a ui-sref="layout.application.create.basic">
                                New application
                                <i class="fa fa-desktop pull-right" />
                            </a>
                        </li>
                        <li>
                            <a ui-sref="layout.organisation.create">
                                New organization
                                <i class="fa fa-building-o pull-right" />
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-if='$auth.keycloak.authenticated' class="dropdown user-menu" dropdown>
                    <a href="#" dropdown-toggle>
                        <img class="user-image" gravatar-src="'tilen.faganel@me.com'">
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a ui-sref="layout.profile">
                                View Profile
                                <i class="pull-right glyphicon glyphicon-pencil" />
                            </a>
                        </li>
                        <li class="divider" />
                        <li>
                            <a ui-sref="layout.user.apis">
                                My APIs
                                <i class="pull-right fa fa-gear" />
                            </a>
                        </li>
                        <li>
                            <a ui-sref="layout.user.applications">
                                My applications
                                <i class="pull-right fa fa-desktop" />
                            </a>
                        </li>
                        <li>
                            <a ui-sref="layout.user.organisations">
                                My organisations
                                <i class="pull-right fa fa-building-o" />
                            </a>
                        </li>
                        <li class="divider" />
                        <li>
                            <a href="#">
                                Account
                                <i class="pull-right glyphicon glyphicon-user" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Settings
                                <i class="pull-right glyphicon glyphicon-cog" />
                            </a>
                        </li>
                        <li class="divider" />
                        <li>
                            <a href="#">
                                Earnings
                                <i class="pull-right glyphicon glyphicon-stats" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Statement
                                <i class="pull-right glyphicon glyphicon-list-alt" />
                            </a>
                        </li>
                        <li>
                            <a href="#">Withdrawals
                                <i class="pull-right glyphicon glyphicon-credit-card" />
                            </a>
                        </li>
                        <li class="divider" />
                        <li>
                            <a href="" class="text-right" ng-click="logout()">Sign Out</a>
                        </li>
                    </ul>
                </li>
                <li ng-if='!$auth.keycloak.authenticated' class="dropdown" dropdown ng-click="login()">
                    <a class="dropdown-toggle" href="#" dropdown-toggle aria-haspopup="true" aria-expanded="false">
                        <i class="pe-7s-upload pe-rotate-90"></i>
                    </a>
                </li>
            </ul>
        </div>

        <form role="search" class="navbar-middle navbar-form-custom border-left" method="post" action="#" ng-click="test()">
            
<!--           <ui-select ng-model="selectedAPI"
                     theme="bootstrap"
                     reset-search-input="false"
                     style="width: 300px;"
                     title="Search APIs">
            <ui-select-match placeholder="Search APIs ..">{{$item.name}}</ui-select-match>
            <ui-select-choices repeat="api in apis track by $index"
                     refresh="refreshAPIs($select.search)"
                     refresh-delay="500">
              <div ng-bind-html="api.name | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>-->
          
<!--            <ui-select multiple tagging tagging-label="(custom 'new' label)" ng-model="filter.categories" theme="bootstrap" sortable="true" ng-disabled="disabled" style="width: 300px; height: 3em" title="Choose categories">
                <ui-select-match placeholder="Select categories...">{{$item.description}}</ui-select-match>
                <ui-select-choices repeat="category in categories | filter:$select.search">
                  {{category.description}}
                </ui-select-choices>
            </ui-select>-->
            <div class="header-search">
                <ui-select ng-model="selectedAPI" theme="bootstrap" sortable="true" style="width: 300px; height: 3em;" title="Choose categories">
                    <ui-select-match placeholder="Select categories..." style="outline: none; box-shadow: none; background-color:transparent;">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="api in apis track by $index"
                         refresh="refreshAPIs($select.search)"
                         refresh-delay="500">
                    <div ng-bind-html="api.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </form>
    </nav>
</header>