<!--div class="row">
    <div class="col-lg-12 m-t-md">
        <div class="hpanel">
            
            <div class="panel-body float-e-margins">
                <div class="row">

                    <div class="col-md-2">
                        <img gravatar-src="'tilen.faganel@me.com'" />
                    </div>

                    <div class="col-md-6">
                       <h2>{{ user.firstname }} {{ user.lastname }}</h2> 
                    </div>
                    
                </div>
                
            </div>
            
        </div>
    </div>
</div-->

<div ui-view />