<div>
	<h1>API Announcements</h1>
	<button type="button" class="btn btn-default" ng-click="createAnnouncementClick()" 
		ng-show="!createMode">Add new</button>
	<create-announcement on-cancel="createCancelled()" ng-show="createMode"
		producer-id="producerId" on-create-complete="announcementAdded(id)"></create-announcement>
	<hr />
	
	<div ng-repeat="announcement in announcements">
		<h2>{{announcement.title}}</h2>
		<p>{{announcement.timeInserted | date:'dd.MM.yyyy'}}</p>
		<p>{{announcement.description}}</p>
		
		<button type="button" class="btn btn-default">
		  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
		</button>	
		<button type="button" class="btn btn-default" ng-click="delete(announcement)">
		  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
		</button>		
		<hr />
	</div>
	
</div>


