
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 card" ng-click="goToDetails(producer.id)">

	<div class="hpanel">
        <div class="panel-heading hbuilt" >
            <div class="row font-normal padding-right-10 padding-left-10">
				<div class="col-xs-3 border-right">
					<a href="#" class="a-left" ng-hide="viewingCategories" ng-click="showCategories()">
						<i class="pe-7s-ticket"></i>
					</a>
					<a href="#" class="a-left" ng-show="viewingCategories" ng-click="hideCategories()">
						<i class="pe-7s-back"></i>
					</a>
				</div>
				<div class="col-xs-6"></div>
				<div class="col-xs-3 border-left">
					<a class="a-right pull-left" href="#">
						<i class="pe-7s-global"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="api-relative padding-left-1 padding-right-1">
			<div class="api-categories " style="z-index:10" >
				<div class="api-category" ng-repeat="category in producer.categories" style="background-color:{{category.color}}" ng-class="{'open' : viewingCategories}" >
					<p class="text-center" style="z-index:100" ><strong style="z-index:100">{{ category.description }}</strong></p>
				</div>
			</div>
		</div>

        <div class="panel-body text-center" >
            <div class="row">
				<div class="col-xs-12">
					<h5>{{ producer.name }}</h5>
					<hr />
					<p class="padding-bottom-5">~ bikes, location, avalibility ~</p>
					<img class="img-card padding-bottom-10" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQonCfFRu72k8JZLwjHUiO8MlblHJrU62BRRYvpJ5oMgwxCt5WRtA" />
					<p class="font-size-11" >
						{{ producer.description | shortenText: 70 }}
					</p>
				</div>
			</div>
        </div>

        <div class="panel-footer contact-footer">
            <div class="row">
				<div class="col-xs-4 border-right padding-right-1">
					<div class="inline-icon-text">
						<a href="#">
							<i class="pe-7s-users" ></i>
							<span class="font-normal">{{ producer.users || 633 }}</span>
						</a>
					</div>
				</div>
				<div class="col-xs-4 border-right padding-right-1">
					<div class="inline-icon-text">
						<a href="#">
							<i class="pe-7s-star"></i>
							<span class="font-normal">{{ producer.averageRating || "4.5" }}</span>
						</a>
					</div>
				</div>
				<div class="col-xs-4 padding-right-1">
					<div class="inline-icon-text">
						<a href="#">
							<i class="pe-7s-cash"></i>
							<span class="font-normal">{{ producer.pricing || "FREE" }}</span>
						</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="inline-icon-text">
						<a id="goto-publisher-view1">
							<i class="pe-7s-culture" ></i>
							<span class="font-normal">{{ organisations[producer.organisation.id].name || (users[producer.user.id].firstName + " " + users[producer.user.id].lastName)  }}</span>
						</a>
					</div>
				</div>
			</div>
        </div>
 </div>
</div>
