

    <div class="row">
        <div ng-if="!editable">
            <div class="col-lg-12 animated-panel zoomIn" style="animation-delay: 0.1s; -webkit-animation-delay: 0.1s;">
                <div class="hpanel hgreen">
                    <div class="panel-body">
                        <div class="row">
                        <div ng-if="!readOnly" class="pull-right text-right">
                            <div class="btn-group">
                                <i ng-click="mode()" class="fa fa-edit btn btn-default btn-xs"></i>
                                <i ng-click="passwordMode()" ng-if="!passwordEdit" class="pe-7s-key btn btn-default btn-xs"></i>
                            </div>
                        </div>
                        </div>
                        <div class="row">
                           
                            <form class="form-horizontal">
                                <div class="col-md-6 animated-panel zoomIn" style="animation-delay: 0.2s; -webkit-animation-delay: 0.2s;">           
                                    <img alt="logo" class="img-circle m-b m-t-md-2" src="//www.gravatar.com/avatar/3d707dfe5cda586bb8dd67a6d2bec79d">
                                    <div class="row">
                                        <div class="form-group col-md-10">
                                            <h3>{{user.firstName}} {{user.lastName}} </h3>
                                        </div>
                                     </div> 
                                </div>
                                    
                                <div class="col-md-6 animated-panel zoomIn" style="animation-delay: 0.2s; -webkit-animation-delay: 0.2s;">
                                   <div class="form-group">
                                        <label class=" text-muted font-bold m-b-xs">{{user.email}}</label>
                                    </div>
                                    <div class="form-group">
                                        <label class=" text-muted font-bold m-b-xs">{{user.attributes.street}}</label>
                                    </div>                                 
                                    <div class="form-group">
                                        <label class=" text-muted font-bold m-b-xs">{{user.attributes.postal_code}}, {{user.attributes.locality}}</label>
                                    </div>
                                    <div class="form-group">
                                        <label class=" text-muted font-bold m-b-xs">{{user.attributes.country}}</label>
                                    </div>                
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel-footer contact-footer">
                        <div class="row">
                            <div class="col-md-4 border-right animated-panel zoomIn" style="animation-delay: 0.2s; -webkit-animation-delay: 0.2s;">
                                <div class="contact-stat"><span>APIs: </span> <strong>23</strong></div>
                            </div>
                            <div class="col-md-4 border-right animated-panel zoomIn" style="animation-delay: 0.2s; -webkit-animation-delay: 0.2s;">
                                <div class="contact-stat"><span>Applications: </span> <strong>8</strong></div>
                            </div>
                            <div class="col-md-4 animated-panel zoomIn" style="animation-delay: 0.3s; -webkit-animation-delay: 0.3s;">
                                <div class="contact-stat"><span>Organisations: </span> <strong>2</strong></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <!-- end ng-if -->
        <div ng-if="editable">
            <div class="col-lg-6 animated-panel zoomIn" style="animation-delay: 0.1s; -webkit-animation-delay: 0.1s;">
            
                <div class="hpanel hgreen">
                    <div class="panel-body">
                    <div class="row">
                        <div ng-if="!readOnly" class="pull-right text-right">
                            <div class="btn-group">
                                <i ng-click="mode()" ng-if="!editable" class="fa fa-edit btn btn-default btn-xs"></i>
                                <i ng-click="passwordMode()" ng-if="!passwordEdit" class="pe-7s-key btn btn-default btn-xs"></i>
                            </div>
                        </div>
                        </div>
                        <div class="row">
                           
                            <form class="form-horizontal">
                                <div class="col-md-6 animated-panel zoomIn" style="animation-delay: 0.2s; -webkit-animation-delay: 0.2s;">           
                                        <img alt="logo" class="img-circle m-b m-t-md-2 pull-left" src="//www.gravatar.com/avatar/3d707dfe5cda586bb8dd67a6d2bec79d">
                                        <div class="col-md-2"></div>
                                        <div class="form-group col-md-8">
                                            <div class="form-group col-lg-12">
                                                <label>Username</label>
                                                <input type="text" disabled ng-model="user.username" id="" class="form-control" name="">
                                            </div>
                                            <div class="form-group col-lg-12">
                                                <label>First name</label>
                                                <input type="text" ng-model="user.firstName" id="" class="form-control" name="">
                                            </div>
                                            <div class="form-group col-lg-12">
                                                <label>Last name</label>
                                                <input type="text" ng-model="user.lastName" id="" class="form-control" name="">
                                            </div>
                                        </div>
                                   
                                </div>
                                    
                                <div class="col-md-6 animated-panel zoomIn" style="animation-delay: 0.2s; -webkit-animation-delay: 0.2s;">
                                   <div class="form-group col-lg-12">
                                        <label>Email Address</label>
                                        <input type="email" ng-model="user.email" id="" class="form-control" name="" class="form-control">
                                    </div>
                                    <div class="form-group col-lg-12">
                                        <label>Street</label>
                                        <input type="text" ng-model="user.attributes.street" placeholder="Street" class="form-control">
                                    </div>                                 
                                    <div class="form-group col-lg-4">
                                        <label>Postal code</label>
                                        <input type="text" ng-model="user.attributes.postal_code" placeholder="Postal code" class="form-control">
                                    </div>                         
                                    <label class="col-lg-1"></label>
                                    <div class="form-group col-lg-8">
                                        <label>City</label>
                                        <input type="text" ng-model="user.attributes.locality" placeholder="City" class="form-control">
                                    </div>     
                                    <div class="form-group col-lg-12">
                                        <label>Country</label>
                                        <input type="text" ng-model="user.attributes.country" placeholder="Country" class="form-control">
                                    </div>     
                                    
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel-footer contact-footer">
                        <div class="row">
                            <div>
                                <button class="btn btn-default btn-block" ng-click="mode()">Cancel</button>
                            </div>
                            <div>
                                 <i class="btn btn-success btn-block" ng-click="updateUser()">Submit</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- eng ng-if -->
        <!-- password -->
        <div ng-if="passwordEdit">
            <div class="col-lg-4 animated-panel zoomIn" style="animation-delay: 0.1s; -webkit-animation-delay: 0.1s;">
            <div class="hpanel hgreen">
                
                <div class="panel-body">
                        <form action="#" id="loginForm">
                            <div class="row">
                             <div class="form-group col-lg-12">
                                <label>Username</label>
                                <input type="text" disabled ng-model="user.username" id="" class="form-control" name="">
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Password</label>
                                <input type="password" value="" id="" ng-model="user.password" class="form-control" name="">
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Repeat Password</label>
                                <input type="password" value="" id="" ng-model="user.passwordRepeat" class="form-control" name="">
                            </div>
                            </div>
                            <div class="row">
                            <div class="text-center">
                                <i class="btn btn-default col-lg-6 pe-7s-back" ng-click="passwordMode()">&nbspCancel</i>    
                                <i class="btn btn-success col-lg-6" ng-click="resetPassword()">Submit</i>
                            </div>
                            </div>
                        </form>
                </div>
            </div>
            </div>
        </div>
    </div>
