<div class="row">
    <div class="col-lg-12 m-t-md">
        <div class="hpanel">
            <div class="panel-body">
                <h2 class="font-light m-b-xs">
                    My applications
                </h2>
                <small>
                    A list of applications that you have created.
                </small>
            </div>
        </div>
    </div>
</div>

<!--ul>
    <li ng-repeat="consumer in consumers">
        {{ consumer.name }}
    </li>
</ul-->

<div class="row m-t">
    <application-card ng-repeat="consumer in consumers" model="consumer" />
</div>
