<div class="p-m tab-pane">
   <div class="text-center m-t-xs" style="margin-top:-40px;">
      <button class="btn btn-primary prev" type="button">Step 1 - Basic info</button>
      <button class="btn btn-default prev" type="button" ng-click="next()">Step 2 - Global restrictions</button>
   </div>
   <h2>Create new plan</h2>
   <h2><small>Step 1 - Basic info</small></h2>
   <div class="row">
      <div class="col-lg-6 animated-panel zoomIn border-right" style="animation-delay: 0.2s;">
         <div class="form-group col-lg-12">
            <label>Plan name</label>
            <input type="" placeholder="Plan name" name="planName" class="form-control" id="" value="">
         </div>
         <div class="form-group col-lg-12">
            <label>Initial version</label>
            <input type="" placeholder="Initial version" name="initVersion" class="form-control" id="" value="">
         </div>
         <div class="form-group col-lg-12">
            <label>Description</label>
            <textarea placeholder="Plan description" name="description" class="form-control textarea-resize-large" id="" value=""> </textarea>
         </div>
         <div class="form-group col-lg-12">
            <label>Monthly price</label>
            <div class="form-group">
               <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
               <div class="input-group">
                  <div class="input-group-addon">&#8364;</div>
                  <input type="number" class="form-control" id="monthly" placeholder="Monthly price">
               </div>
            </div>
         </div>
         <div class="form-group col-lg-12">
            <label>Features</label>
            <div class="row col-md-12" style="padding-bottom:10px;">
               <button type="button" class="btn btn-primary" ng-click="openModal()"><i class="fa fa-plus"></i> Add feature</button>
            </div>
            <div class="row col-md-12">
               <table ng-table="featureTableParams" class="table">
                  <tr ng-repeat="user in $data">
                     <td class="col-lg-9" data-title="'Name'">
                        <span ng-if="!user.$edit">{{user.name}}</span>
                        <div ng-if="user.$edit"><input class="form-control" type="text" ng-model="user.name" /></div>
                     </td>
                     <td class="col-lg-3" data-title="'Actions'">
                        <a ng-if="!user.$edit" class="btn btn-default" ng-click="user.$edit = true"><i class="fa fa-edit"></i></a>
                        <a ng-if="!user.$edit" class="btn btn-default" ng-click="user.$edit = true"><i class="fa fa-remove"></i></a>      
                        <a ng-if="user.$edit" class="btn btn-default" ng-click="user.$edit = false"><i class="fa fa-save"></i></a>     
                     </td>
                  </tr>
               </table>
            </div>
         </div>
      </div>
      <div class="col-lg-6 animated-panel zoomIn" style="animation-delay: 0.2s;">
         <div class="form-group col-lg-12">
            <label>Select endpoints</label>
            <div class="form-group col-lg-12">
               <table ng-table="tableParams" class="table ng-table-responsive">
                  <tbody ng-repeat="group in $groups">
                     <tr class="ng-table-group">
                        <td width="30" style="text-align: left" header="'ng-table/headers/checkbox.html'">
                           <input type="checkbox" ng-model="checkboxes.items[group.value]" />
                        </td>
                        <td colspan="{{$columns.length}}">
                           <a href="" ng-click="group.$hideRows = !group.$hideRows">
                           <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>
                           <strong>{{ group.value }}</strong>
                           </a>
                        </td>
                     </tr>
                     <tr ng-hide="group.$hideRows" ng-repeat="user in group.data">
                        <td width="30" style="text-align: left" header="'ng-table/headers/checkbox.html'">
                           <input type="checkbox" ng-model="checkboxes.items[user.id]" />
                        </td>
                        <td data-title="'Name'" filter="{ 'name': 'select' }" filter-data="names($column)">
                           {{user.name}}
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <div class="form-group col-lg-12">
               <script type="text/ng-template" id="ng-table/headers/checkbox.html">
                  <input type="checkbox" ng-model="checkboxes.checked" id="select_all" name="filter-checkbox" value="" />
               </script>
            </div>
         </div>
      </div>
   </div>
   <div class="text-right m-t-xs">
      <button class="btn btn-default prev" type="button" ng-click="back()">Cancel</button>
      <button class="btn btn-primary prev" type="button" ng-click="next()">Global restrictions</button>
   </div>
</div>

