
.header-select{ 
	select{
		height:34px;
	}
}

.ui-select-multiple.ui-select-bootstrap input.ui-select-search {
	height: 26px;
}

.panel-filter {
	padding: 10px 20px !important;
}

//select categories height 

