<div class="row">
    <div class="col-lg-12">
        <div class="hpanel">
            <div class="panel-body panel-filter">
                <div class="row row-margin-top row-margin-bottom" >
<!--                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                        <div class="btn-group">
                            <label class="btn btn-default active" ng-model="radioFilterModel" btn-radio="'All'">All</label>
                            <label class="btn btn-default" ng-model="radioFilterModel" btn-radio="'Name'">Name</label>
                            <label class="btn btn-default" ng-model="radioFilterModel"
                                   btn-radio="'Location'">Location</label>
                        </div>
                    </div>-->

                    <div class="col-xs-12 col-md-5 col-lg-4 header-select" >
                        <select class="form-control pull-left" ng-model="filter.sortBy">
                            <option value="" disabled> {{ $strings.sort.placeholder }}</option>
                            <option value="rating"> {{ $strings.sort.rating }}</option>
                            <option value="location"> {{ $strings.sort.location }} </option>
                            <option value="publisher"> {{ $strings.sort.publisher }}</option>
                            <option value="popularity"> {{ $strings.sort.popularity }} </option>
                        </select>
                    </div>
                    <div class="col-xs-12 col-md-5 col-lg-4">
                        <div class="category-search">
                            <ui-select multiple tagging tagging-label="(custom 'new' label)" ng-model="filter.categories" theme="bootstrap" sortable="true" ng-disabled="disabled" title="Choose categories">
                                <ui-select-match placeholder="Select categories...">{{$item.description}}</ui-select-match>
                                <ui-select-choices repeat="category in categories | filter:$select.search">
                                  {{category.description}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                        <div class="pull-right">
                            <div class="btn-group">
                                <label class="btn btn-default active" ng-model="radioLayoutModel" btn-radio="'Card'">
                                    <i class="fa fa-th-large"></i>
                                </label>
                                <label class="btn btn-default" ng-model="radioLayoutModel" btn-radio="'Grid'">
                                    <i class="fa fa-th-list"></i>
                                </label>
                        </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

<div class="row m-t-xs" infinite-scroll="pagingFunction()" infinite-scroll-distance="1">
    <api-card ng-repeat="producer in producers" ng-show="radioLayoutModel == 'Card'"></api-card>
    <api-grid ng-repeat="producer in producers" ng-show="radioLayoutModel == 'Grid'"></api-grid>
</div>
