.card {
  
  .inline-icon-text {
      display: inline-block;
      height: 45px;
      
      i{
        line-height: 45px;
      }
      
      span{
        line-height: 45px;
      }
  }
  .img-card {
    max-height: 150px;
    max-width: 200px;
  }
  .panel-body {
    height:220px;
    padding:10px 20px 10px 20px;
  }
  
  .panel-heading {
    padding-top:0px !important;
    padding-bottom: 0px !important;
    font-size:25px;
    
    a{
      font-size:25px;
    }
    
    a.a-right {
      padding-left:4px;
    } 
  }
  
  .panel-footer{
    height:90px;
    background-color:white;
    
    i{
      font-size:25px;
    }
    
    [class*="col-"] {
      height:45px;
    }
    .row:last-child{
      
      border-top:1px solid rgb(228, 229, 231);
      [class*="col-"] {
        text-align: center;
      }
    }
    
  }
  
  .api-category.open {
  	height:20px;
  	max-height: 20px;
  	
  }
  
}