<api-details-header api-details="apiDetails" 
    version-changed="versionChanged(version)"
    initial-version="initialVersion"></api-details-header>
<left-nav></left-nav>
<div class="hpanel">
    <div class="panel-body">
        <div id="markdown-output" btf-markdown="markdown"
            ng-show="activePage == 'overview' || activePage == 'details'"></div>
        <announcement-list id="announcements" announcements="announcements"
            producer-id="producerId" ng-show="activePage == 'announcements'"></announcement-list>
    </div>
</div>