<ul class="nav" id="side-menu">
    <li ng-repeat="category in categories">
        <a>
			<label for="{{ category.code }}">{{ category.description }}
				<input id="{{ category.code }}" icheck ng-model="bla" type="checkbox">
			<label>
		</a>
    </li>
</ul>
