
.form-control{
  height: 34px;
}

.textarea-resize{
  resize: vertical;
}

.textarea-resize-large{
  resize: vertical;
  height: 150px !important;
  min-height: 25px;
}

.plans-title{
  text-align: center;
  font-size: 2em !important;
}

.plans-subtitle{
  text-align: center;
  font-size: 1.5em !important;
}

.plans-quotas{
  text-align: center;
}

.plans-price{
  text-align: center;
}

.ins-style{
  position: absolute;
  top: 0%;
  left: 0%; 
  display: block; 
  width: 100%; 
  height: 100%; 
  margin: 0px; 
  padding: 0px; 
  background: none repeat scroll 0% 0% rgb(255, 255, 255); 
  border: 0px none; 
  opacity: 0;
}

.wizard-subtitle{
	margin-top:-20px; 
	margin-bottom:30px;
}
  
