<div class="hpanel">
   <div class="panel-heading">
      <div panel-tools></div>
      Publish API
   </div>
   <div class="panel-body">
      <form method="post" action="#" id="simpleForm" novalidate="" name="simpleForm">
      <div id="wizardControl" class="text-center m-b-md">
      		<button class="btn w-xs btn-primary" id="tab1" type="button" ng-click="changeTab('tab1', 0)">Step 1 - General settings</button>
			<button class="btn w-xs btn-default" id="tab2" type="button" ng-click="changeTab('tab2', 1)">Step 2 - Implementation</button>	
			<button class="btn w-xs btn-default" id="tab3" type="button" ng-click="changeTab('tab3', 2)">Step 3 - Plans</button>
			<button class="btn w-xs btn-default" id="tab4" type="button" ng-click="changeTab('tab4', 3)">Step 4 - Documentation</button>
			<button class="btn w-xs btn-default" id="tab5" type="button" ng-click="changeTab('tab5', 4)">Step 5 - Final</button>
      </div>
      <div class="tab-content">
		<div ui-view />
      </div>
   </div>
</div>

