<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 card" ng-click="goToDetails()">
	<div class="hpanel">
        <div class="panel-body text-center" >
            <div class="row">
				<div class="col-xs-12">
					<h5>{{ consumer.name }}</h5>
					<hr />
					<img class="img-card padding-bottom-10" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQonCfFRu72k8JZLwjHUiO8MlblHJrU62BRRYvpJ5oMgwxCt5WRtA" />
					<p class="font-size-11" >
						{{ consumer.description || 'No description' | shortenText: 70 }}
					</p>
				</div>
			</div>
        </div>
	</div>
</div>